@import "src/index.scss";

.header-wrapper {
  height: 50px;
  background-color: $main-blue;
  border: 1px solid $purple;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 1080px;
  align-items: center;

  .route-list {
    display: flex;
    justify-content: flex-start;

    .route-menu:nth-of-type(1) {
      margin-left: 0;
    }

    .route-menu {
      margin-left: 24px;
    }

    .route-btn {
      color: $light-blue;
      font-size: 15px;
      line-height: 22px;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      padding: 13px 0 10px;
      border-bottom: 3px solid transparent;
      cursor: pointer;
    }

    .route-btn:hover {
      color: $white;
      border-bottom: 3px solid $white;
    }

    .selected {
      color: $white;
      border-bottom: 3px solid $white;
    }
  }
}